:root {
  --bem-padding-buttons: 20px;

  --theme-white-color: #e8e8e8;
  --theme-text-color: #272727;
  --theme-light-gray-color: #cdcdcd;
  --theme-blue-color: #1940C1;
  --theme-red-color: #EF0504;


  --theme-ut-color: #ec2c02;
  
/*
  --theme-lightgray-color: #cbcbcb;
  --theme-gray-color: #a7a7a7;
  --theme-dark-gray-color: #323232;

  --main-equivalent-color: #E7441C;
*/

  --aside-width: 100px;
/*
  --bg-color: #1f1f1f;
  --bg-darker-color: #1a1a1a;
*/
  --h2-size: 32px;
  --h3-size: 20px;
  /*--p-size-comment: 20px;*/
  --p-size: 20px;
  --dynamic-grid-text-color: #1f1f1f;
  --dynamic-grid-bg-color: #696969;

  --card-bg-color: #cdcdcd;
}