<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body>

  <div class="page page_ti">
  <main>
    <header class="header">
        <div class="header__up-menu">

          <a href="/" class="header__logo-link-container">
            <img class="header__logo-img"  src="<%=require('./images/ti/logo-ti-full.svg')%>" alt="Лого Ютермо">
          </a>
          <div class="header__contacts">
            <a class="bem__link header__contact" href="mailto:info@tochka-izloma.ru">info@tochka-izloma.ru</a>
            <a class="bem__link header__contact" href="tel:info@tochka-izloma.ru">+7 (3852) 36-51-77</a>
          </div>
        </div>
        <nav class="nav header__nav">
          <ul class="nav__menu-list">
            <li class="nav__menu-list-item">
              <a class="bem__link nav__link" href="#">Главная</a>
            </li>
            <li class="nav__menu-list-item">
              <a class="bem__link nav__link" href="#">Каталог</a>
            </li>
            <li class="nav__menu-list-item">
              <a class="bem__link nav__link" href="#">Партнерам</a>
            </li>
            <li class="nav__menu-list-item">
              <a class="bem__link nav__link" href="#">Наши представители</a>
            </li>
            <li class="nav__menu-list-item">
              <a class="bem__link nav__link" href="#">Контакты</a>
            </li>
          </ul>
          <div class="nav__registration">
            <button class="nav__registration-link">Регистрация</button>
            <button class="nav__registration-link nav__registration-link_enter">Войти</button>
          </div>
        </nav>
        <div class="burton header__burton">
          <div class="burton__preamble">
            <h1 class="header__title">Разборные пластинчатые теплообменники</h1>
            <p class="burton__description">Разборные пластинчатые теплообменники, уникальность нашей продукции подтверждена патентами, ее качество гарантируют лучшие материалы и технологии производства</p>
            <a class="burton__action-link" href="#">Подробнее о компании</a>
          </div>
          <div class="burton__image-container">
            <img class="burton__image" src="<%=require('./images/productiopn_ti_p.png')%>" alt="Разборные пластинчатые теплообменники Теплохит">
            <figure style="position:absolute;top:0; left: 0;width: 100%; height: 100%;">
              <figure style="position: relative; width:100%; height:100%; overflow: hidden;">
                <img src="<%=require('./images/ti/poster-red.svg')%>" style="position:absolute;width: 100%; height: 100%;">
                <img src="<%=require('./images/ti/poster-blue.svg')%>" style="position:absolute;width: 100%; height: 100%;">
              </figure>
            </figure>
          </div>
        </div>
    </header>
    <section class="mainpage-about">
      <h2 class="section-title section-title_ti">О компании</h2>
      <ul class="mainpage-about__grid">
        <li class="mainpage-about__grid-item">
          <p class="bem__paragraph">На сегодняшний день компания владеет полным циклом производства всей линейки комплектующих для
            разборных пластинчатых теплообменников. Внедрение ресурсосберегающих технологий производства позволило сократить цикл
            изготовления комплектующих, что значительно снизило стоимость готового изделия.
            На сегодняшний день компания «Точка излома» предлагает полный ассортимент комплектующих для разборных пластинчатых
            теплообменников. Компания располагает собственным производством, конструкторским бюро, научные разработки защищены
            законом об интеллектуальной собственности.</p>
        </li>
        <li class="mainpage-about__grid-item">
          <ul class="bem__list bem__list_line" style="max-width: 700px; justify-content: space-between;">
            <li class="mini-title-intro"><span class="mini-title-intro__span mini-title-intro__span_ti">15</span> лет опыта</li>
            <li class="mini-title-intro mini-title-intro_wider"><span class="mini-title-intro__span mini-title-intro__span_ti">2000+</span> выполненных заказов</li>
            <li class="mini-title-intro mini-title-intro_wider"><span class="mini-title-intro__span mini-title-intro__span_ti">200+</span> довольных заказчиков</li>
          </ul>
        </li>
        <li class="mainpage-about__grid-item" style="max-width: 700px;">
          <h3 class="section-subtitle">Программа расчёта пластинчатых теплообменников</h3>
          <p class="bem__paragraph" style="margin:20px 0 25px;">Разработанная нами программа предназначена для расчета и подбора пластинчатого теплообменника. Для расчета нужно внести все необходимые данные по температурам, давлению и мощности.</p>
          <a class="bem__link bem__link_download-right  mainpage-about__action-link" href="#">Скачать программу</a>
        </li>
        <li class="mainpage-about__grid-item" style="max-width: 700px;">
          <h3 class="section-subtitle">Регистрация в личном кабинете</h3>
          <p class="bem__paragraph" style="margin:20px 0 25px;">Партнеры компании имеют всестороннюю консультационную поддержку, обеспечиваются конструкторской и технической документацией. Производственные мощности компании «Точка излома» позволяют удовлетворить заказ любого объема, а служба логистики доставить его в максимально короткий срок на склад компании-партнера, при этом затраты на логистику компания берет на себя. Разработана эффективная и прозрачная система скидок, кроме того, надежным партнерам предлагается кредитование при заказе продукции.</p>
          <a class="bem__link mainpage-about__action-link" href="#">Зарегистрироваться в кабинете партнёра &#8594;</a>
        </li>
      </ul>
    </section>
    <section class="catalog-section">
      <div class="catalog-section__aside">
        <h2 class="section-title section-title_white">Каталог</h2>
        <div>
          <p class="bem__paragraph bem__paragraph_invert-theme catalog-section__intro" style="margin-bottom: 30px;">Покупайте удобно.</p>
          <p class="bem__paragraph bem__paragraph_invert-theme catalog-section__intro">Вы можете собрать заказ прямо на сайте.</p>
        </div>
        <a class="bem__link catalog-section__action-link" href="#">Перейти в магазин &#8594;</a>
      </div>
      <div class="catalog-section__content">
        <form class="form-search">
          <div class="form-search__line">
              <input
                  class="form-search__input"
                  placeholder="Введите наименование для поиска"
                  name="request"
              >
              <button class="form-search__button" type="submit">Поиск</button>
          </div>
          <span class="form-search__hint">Ничего не введено</span>
          <div class="form-search__filter">
              <input class="form-search__checkbox" id="filter" checked={isShortChecked} type="checkbox"/>
              <button class="form-search__filterbutton" type="button" onClick={handleClick}>
                  <div class="form-search__tumblr"></div>
              </button>
              <label class="form-search__label" for="filter">В наличии</label>
          </div>

      </form>
      <div style="display:grid; grid-template-columns: repeat(3, 400px); padding: 40px 0; gap:20px;">
        <% items.forEach(function(item) { %>
          <div class="card card_cti">
            <div class="card__header">
              <h3 class="bem__title card__title_cti"><%-item.name%></h3>
              <button class="card__action-button card__action-button_config"></button>
            </div>
            <div class="card__image-container" style="box-sizing: border-box; padding: 10px;">
              <img class="card__image" src="<%= (item.type === 'plita') ? require('./images/ti/stanina13.png') : require('./images/ti/plasttest.png')%>">
            </div>
            <div class="card__footer">
              <span class="bem__title card__price"><%-item.price%></span>
              <button class="card__action-button card__action-button_add-to-cart"></button>
            </div>
          </div>
        <% }); %>
      </div>
      </div>
    </section>
    <section class="mainpage-about" >
      <h2 class="section-title section-title_ti">Собрать теплообменник</h2>
      <p class="bem__paragraph" style="max-width: 700px; margin: 20px 0 25px;">Вы также можете собрать теплообменник используя конструктор теплообменника.</p>
      <a class="bem__link mainpage-about__action-link" href="#">Перейти в конструктор телпообменника &#8594;</a>
    </section>
    <section class="askmore">
      <div class="askmore__content">
        <h2 class="section-title section-title_ti">Мне только спросить</h2>
        <ul class="frequently__questions-list">
          <li class="frequently__questions-list-item">
            <h3 class="frequently__question">Наши сертификаты</h3>
            <p class="frequently__answer">Площадь теплообмена может служить параметром расчёта по некоторым методикам. Однако
              для того, чтобы подобрать оптимальный теплообменный аппарат, мы не используем данную характеристику и опираемся
              на температурные графики, мощность и потери давления. Тем самым алгоритм подбора выдает компоновку каналов
              опираясь на математическую модель нашей пластины.</p>
          </li>
          <li class="frequently__questions-list-item">
            <h3 class="frequently__question">Патенты</h3>
            <p class="frequently__answer">Для расчёта пластинчатого теплообменника при стандартных потерях давления необходимо
              5 значений: температурные графики (температуры греющей и нагреваемой сред на входе и выходе из теплообменника).
              А также мощность (тепловая нагрузка) или расход по нагреваемой среде. Форма заявки онлайн для расчёта доступна
              по ссылке <a style="text-decoration: none; color: #747474;" href="/equipment-selection/">подбор теплообменника
                онлайн</a></p>
          </li>
          <li class="frequently__questions-list-item frequently__questions-list-item_active">
            <h3 class="frequently__question">Информация для дилеров</h3>
            <p class="frequently__answer">Разработана эффективная и прозрачная система скидок, кроме того, надежным партнерам предлагается кредитование при заказе продукции.</p>
          </li>
        </ul>
      </div>
      <div class="askmore__form-container">
        <form class="askmore__form" method="post" action="#" id="formFreePopup" name="formFreePopup" novalidate>
          <!--R-->
          <h3 class="section-title section-title_gray">Остались вопросы?</h3>
          <p class="bem__title" style=" max-width:150px; text-align: center; margin-bottom: 20px; padding: 5px; background-color: var(--theme-red-color); color: white;">Напишите нам!</p>
          <label class="form__field form__field_fti">
            <span class="form__label-title">Как к Вам можно обращаться?</span>
            <input data-alias="Имя или название компании" placeholder="Как к Вам обращаться?" type="text" name="name-free" id="name-free-input" class="form__input form__input_fti" required minlength="1">
            <span class="form__input-error form__input-error_dis_block name-free-input-error"></span>
          </label>
          <label class="form__field form__field_fti">
            <span class="form__label-title">Контактный телефон</span>
            <input data-alias="Телефон" placeholder="Телефон" type="text" name="tel-free" id="tel-free-input" class="form__input form__input_fti" required minlength="1">
            <span class="form__input-error form__input-error_dis_block tel-free-input-error form__input-error_visible">Вы пропустили это поле (тест ошибки)</span>
          </label>
          <label class="form__field form__field_fti">
            <span class="form__label-title">Электронная почта</span>
            <input data-alias="Почта" placeholder="Электронная почта" type="email" name="email-free" id="email-free-input" class="form__input form__input_fti" required>
            <span class="form__input-error form__input-error_dis_block email-free-input-error"></span>
          </label>
          <label class="form__field form__field_type_textarea">
            <span class="form__label-title">Опишите Вашу задачу</span>
            <textarea data-alias="Текст заявки" placeholder="Опишите Вашу задачу" type="text" name="comment-free" id="comment-free-input"  class="form__input form__input_type_textarea form__input_fti" required minlength="1"></textarea>
            <span class="form__input-error form__input-error_dis_block comment-free-input-error"></span>
          </label>
          <button class="bem__button form__submit-button form__submit-button_fti" type="submit">Отправить</button>
        </form>
      </div>
    </section>
    <section class="catalog-section catalog-section_type_unit">
      <div class="catalog-section__aside">
        <p class="bem__title" style=" max-width:150px; text-align: center; margin-bottom: 20px; padding: 5px; background-color: var(--theme-blue-color); color: white;">Позиции</p>
        <ul class="bem__list catalog-section__units-navlist">
          <% categories.forEach(function(item) { %>
            <li class="catalog-section__units-navlist-item <%= item.isChecked ? 'catalog-section__units-navlist-item_checked' : ''%>"><%-item.name%></h3>
          <% }); %>
        </ul>
        <a class="bem__link catalog-section__action-link" href="#">Перейти в магазин &#8594;</a>
      </div>
      <div class="catalog-section__content catalog-section__content_type_unit unit">
        <div class="unit__img-container">
          <img class="unit__image" src="<%=require('./images/ti/stanina13.png')%>">
        </div>
        <div class="unit__form-container">
          <form class="unit__form" method="post" action="#" id="" name="" novalidate>
            <!--R
            <h3 class="section-title section-title_gray">Остались вопросы?</h3>
            <p class="bem__title" style=" max-width:150px; text-align: center; margin-bottom: 20px; padding: 5px; background-color: var(--theme-red-color); color: white;">Напишите нам!</p>-->
            <label class="form__field form__field_fti">
              <span class="form__label-title">Теплообменный аппарат</span>
              <select data-alias="Теплообменниый аппарат" class="form__input form__input_fti form__input_type_select" id="" name="">
                <option selected value="ТИ025">ТИ025</option>
                <option value="ТИ077">ТИ077</option>
                <option value="ТИ13">ТИ13</option>
              </select>
              <span class="form__input-error name-free-input-error">Тест ошибки</span>
            </label>
            <label class="form__field form__field_fti">
              <span class="form__label-title">Тип плиты</span>
              <select data-alias="Тип плиты" class="form__input form__input_fti form__input_type_select" id="" name="">
                <option selected value="1234">1234</option>
                <option value="1000">1000</option>
              </select>
              <span class="form__input-error name-free-input-error">Тест ошибки</span>
            </label>
            <label class="form__field form__field_fti">
              <span class="form__label-title">Толщина плиты</span>
              <select data-alias="Теплообменниый аппарат" class="form__input form__input_fti form__input_type_select" id="" name="">
                <option selected value="ТИ025">200</option>
                <option value="ТИ077">300</option>
              </select>
              <span class="form__input-error name-free-input-error">Тест ошибки</span>
            </label>
          </form>



        </div>
      </div>
    </section>
    <section class="ds" style="padding: 100px 0; ">
      <div class="ds__30" style="padding-left: var(--aside-width);">
        <h2 class="bem__title">ООО «Точка излома»</h2>
        <h3 class="bem__title" style="margin-top: 40px;">Телефон</h3>
        <a href="tel:Тел./факс: (3852) 77-26-38" class="bem__link">+7 (3852) 77-26-38</a>
        <h3 class="bem__title"  style="margin-top: 40px;">Почтовый и юридический адрес:</h3>
        <p class="bem__paragraph"  style="max-width: 300px;">
          Российская Федерация, 656012,
          г. Барнаул, ул. Ткацкая, 75а,
        </p>
        <h3 class="bem__title" style="margin-top: 40px;">Платежные реквизиты:</h3>
        <ul class="bem__list">
          <li>ИНН 2224111222</li>
          <li>КПП 222401001</li>
          <li>ОГРН 1072224002256</li>
          <li style="max-width: 300px;">р/с 40702810302140134813 в
          Алтайское отделение №8644
          ПАО СБЕРБАНК г. Барнаул,</li>
          <li>БИК 040173604</li>
          <li>к/с 30101810200000000604</li>
          <li><span class="span-block">Директор:</span>Захарьящев Дмитрий Валерьевич</li>
        </ul>
      </div>
      <div class="ds__70" style="display: flex;
      align-items: center;
      justify-content: center;padding: 20px var(--aside-width) 20px 20px; background-color: var(--theme-light-gray-color); border-bottom-left-radius: 8px; border-top-left-radius: 8px;box-shadow: -2px 2px 0px 0px #939393;">
        <%=require('./insets/schemes/svg-schemes/russia-map.svg')%>
      </div>
    </section>
  </div>
  </main>

  <!--FOOTER-->
  <%= require('html-loader!./insets/asides/inner-footer.html').default %>

  <!--Шаблон карточки проекта-->
  <template id="project-template">
    <div class="projects__item">
      <img class="projects__image" alt="Здесь будет фото проекта" src="<%=require('./images/svg-elems/preloader.gif')%>">
      <p class="projects__item-description">Котельная в квартале 34, г. Уфа, жилой район «Затон-Восточный»</p>
    </div>
  </template>

  <!--Шаблон элемента партнера на карте-->
  <template id="partner-item-template">
    <li class="map__list-item" data-html="<b>ООО «Интерсервис»</b><br> Тел.: 8-914-130-30-30<br>">Чита</li>
  </template>
</body>
</html>
