<!DOCTYPE html>
<html lang="ru">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title><%= htmlWebpackPlugin.options.title %></title>
  <link rel="icon" href="/favicon.svg" type="image/svg+xml">
  <link href="<%= canonicalURL %>"  rel="canonical" />
</head>
<body>
  <div class="page page_utermo">
  <main>
    <aside class="aside">
      <%= require('html-loader!./insets/asides/in-aside.html').default %>
    </aside>
    <header class="header">
      <a href="/" class="header__logo-link-container">
        <img class="header__logo-img" src="<%=require('./images/svg-elems/u-flogo.svg')%>" alt="Лого Ютермо">
      </a>
      <div class="header__nav-side">
        <%= require('html-loader!./insets/asides/nav-page.html').default %>
      </div>
    </header>

    <section class="promo">
      <h2 class="promo__title">Страница каталога • Один из вариантов отображения</h2>
      <h3 class="promo__subtitle"></h3>
      <ul class="promo__accent-list">
        <li class="promo__accent-list-item">
          <h4 class="promo__accent-list-heading">Асинхронное изменение элементов</h4>
          <p class="promo__accent-list-paragraph">При изменении параметров в форме изменится: артикул, цена, картинка. В корзину будет добавлен актуальный товар.</p>
        </li>
      </ul>
    </section>

    <section class="promo">
      <h2 class="promo__title">Страница контакты • На что стоит обратить внимание?</h2>
      <h3 class="promo__subtitle"></h3>
      <ul class="promo__accent-list">
        <li class="promo__accent-list-item">
          <h4 class="promo__accent-list-heading">Векторная интерактивная карта</h4>
          <p class="promo__accent-list-paragraph">Можно использовать как карту представителей, при клике на регион можно реализовать всплывающее окно с информацией о партнерах в данном регионе.</p>
        </li>
      </ul>
    </section>


  </main>

  <!--FOOTER-->
  <section class="promo" style="margin-bottom: 0;">
    <ul class="promo__accent-list">
      <!--<li class="promo__accent-list-item">
        <h4 class="promo__accent-list-heading promo__accent-list-heading_white">Асинхронное изменение элементов</h4>
        <p class="promo__accent-list-paragraph">При изменении параметров в форме изменится: артикул, цена, картинка. В корзину будет добавлен актуальный товар.</p>
      </li>-->
      <li class="promo__accent-list-item">© 2022 Точка Излома  </li>
    </ul>

  </section>
</div>
  <!--Шаблон карточки проекта-->
  <template id="project-template">
    <div class="projects__item">
      <img class="projects__image" alt="Здесь будет фото проекта" src="<%=require('./images/svg-elems/preloader.gif')%>">
      <p class="projects__item-description">Котельная в квартале 34, г. Уфа, жилой район «Затон-Восточный»</p>
    </div>
  </template>

  <!--Шаблон элемента партнера на карте-->
  <template id="partner-item-template">
    <li class="map__list-item" data-html="<b>ООО «Интерсервис»</b><br> Тел.: 8-914-130-30-30<br>">Чита</li>
  </template>
</body>
</html>
