.form__input {
  font-size: 20px;
  line-height: 1.2;
  color: var(--theme-text-color);

  border: none;
  outline: none;

  min-width: 300px;
  padding: 25px 22px;
  background-color: #1f1f1f;
}

.form__input_type_textarea {
  flex-basis: 200px;
}

.form__input_fti {
  background: none;
  font-size: 18px;
  box-sizing: border-box;
  border: 1px solid #323232;
  border-radius: 4px;
}